venv/
*.env


__pycache__/
*.py[cod]
*$py.class

*.egg-info/
*.egg
dist/
build/
*.so
*.exe

*.log
*.tmp
*.bak
*.swp
*~

.idea/
.vscode/
*.code-workspace
.DS_Store (Mac)

.ipynb_checkpoints/

.coverage
htmlcov/
.pytest_cache/
prof/

*.cfg
*.ini
*.local

pip-log.txt
Pipfile.lock
poetry.lock